* {
  font-family: Helvetica, Arial, sans-serif;
  color: #999;
}

h1, h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  color: #333;
}

.site-body {
  display: flex;
}

.site-body.closed-sidebar .content {
  width: 100%;
}

.site-body.closed-sidebar .sidebar {
  width: 0;
}

.content {
  width: 70%;
  transition: width 1s;
}

.sidebar {
  width: 30%;
  transition: width 1s;
}

.site-nav ul {
  padding: 0;
}

.site-nav li {
  display: inline-block;
  list-style-type: none;
}

.site-nav a {
  padding: 0.5rem 1rem;
}

.grid {
  padding: 0;
}

.grid li {
  display: inline-block;
  vertical-align: top;
  width: 95%;
  margin: 0 2%;
}

@media only screen and (min-width: 30rem) {
  .grid li {
    width: 45%;
  }
}

@media only screen and (min-width: 50rem) {
  .grid li {
    width: 28%;
  }
}

.grid img {
  width: 100%;
}

.grid h2 {
  margin: 0 0 0.5rem;
}

.grid p {
  margin: 0 0 1.5rem;
}